{% extends 'base.html' %}

{% block title%}
About Us
{% endblock title%}

{% block body %}
<style>
    #about {
        margin-top: 200px;
    }
    .rowsetting {
    margin: 80px 0px !important;
}

.imgsetting {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.d-block:hover {
    background-color: gold;
}

.d-block:hover i,
.d-block:hover h2,
.d-block:hover p{
    color: bisque;
}

.d-block:hover i{
    transform: translateY(-20px);
}  
.d-block:hover i,
.d-block:hover h2,
.d-block:hover p{ 
    transition: all 400ms ease-in-out;
}
.fa-user {
    margin-top: 25px;
}


.fa-search{
    margin-top: 25px;
}

.fa-heart{
    margin-top: 25px;
}

.fa-lock {
    margin-top: 25px;
}

.fa-camera {
    margin-top: 25px;
}

.fa-info-circle {
    margin-top: 25px;
}

</style>
<div class="container">
   
    <div class="row rowsetting text-center">
        <div class="col-lg-4 col-md-sm-4 col-10 d-block m-auto">
          <div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-user fa-3x"></i>
    </div>
    <h2>Freindly</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique minima praesentium, delectus sapiente eveniet blanditiis accusantium numquam sint impedit optio nesciunt, vel facilis quasi ratione nihil expedita culpa accusamus?</p>
        </div>
        <div class="col-lg-4 col-md-sm-4 col-10 d-block m-auto">
          <div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-search fa-3x"></i>
    </div>
    <h2> Think</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique minima praesentium, delectus sapiente eveniet blanditiis accusantium numquam sint impedit optio nesciunt, vel facilis quasi ratione nihil expedita culpa accusamus?</p>
    </div>
    <div class="col-lg-4 col-md-sm-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-heart fa-3x"></i>
    </div>
    <h2>Care</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique minima praesentium, delectus sapiente eveniet blanditiis accusantium numquam sint impedit optio nesciunt, vel facilis quasi ratione nihil expedita culpa accusamus?</p>
    </div>
      </div>
        </div>
        <div class="container">
        <div class="row rowsetting text-center">
            <div class="col-lg-4 col-md-sm-4 col-10 d-block m-auto">
              <div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-lock fa-3x"></i>
        </div>
        <h2>Pictures</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique minima praesentium, delectus sapiente eveniet blanditiis accusantium numquam sint impedit optio nesciunt, vel facilis quasi ratione nihil expedita culpa accusamus?</p>
            </div>
            <div class="col-lg-4 col-md-sm-4 col-10 d-block m-auto">
              <div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-camera fa-3x"></i>
        </div>
        <h2> Knowledge</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique minima praesentium, delectus sapiente eveniet blanditiis accusantium numquam sint impedit optio nesciunt, vel facilis quasi ratione nihil expedita culpa accusamus?</p>
        </div>
        <div class="col-lg-4 col-md-sm-4 col-10 d-block m-auto">
          <div class="imgsetting d-block m-auto bg-warning"> <i class="fa fa-info-circle fa-3x"></i>
        </div>
        <h2>Info</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat similique minima praesentium, delectus sapiente eveniet blanditiis accusantium numquam sint impedit optio nesciunt, vel facilis quasi ratione nihil expedita culpa accusamus?</p>
        </div>
          </div>
            </div>
        </div>
</div>
{% endblock body %}